<h2 class="text-center">Banco Configuração</h2>

<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div data-alert class="alert-box">
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
     <!-- <a href="#" class="close">&times;</a> -->
    </div>
  <% end %>
<% end %>

<% @accounts.each do |ac| %>
  <hr>
  <p>

    <div class="row">
      <div class="medium-12 columns">
        <h4 class="left"><%= ac.owner %></h4>
        <h4 class="subheader right"><%= ac.balance.to_s %></h4>
      </div>
    </div>

    <%= simple_form_for(:process_transaction, url: process_transaction_account_path(ac)) do |f| %>
      <div class="row">
        <div class="medium-6 columns">
          <%= f.input(:value, label: false, placeholder: "Valor", input_html: {type: "number"}) %>
        </div>
        <div class="medium-6 columns">
          <%= f.input(:target_account, label: false, placeholder: "CC destino", input_html: {type: "number"}) %>
        </div>
        <div class="medium-12 columns">
          <%= f.input(:description, label: false, placeholder: "Descrição") %>
        </div>
      </div>

      <div class="row">
        <div class="medium-3 columns">
          <%= f.submit class:"button tiny success", value: 'CREDITAR' %>
        </div>
        <div class="medium-3 columns">
          <%= f.submit class:"button tiny alert action-button", value: 'DEBITAR' %>
        </div>
        <div class="medium-6 columns">
          <%= f.submit class:"button tiny action-button", value: 'TRANSFERIR' %>
        </div>
      </div>

      <!-- <a href="#" class="button tiny disabled success">CREDITAR</a> -->
    <% end %>
  </p>
<% end %>
