<h2 class="text-center">Banco Configuração</h2>

<% @accounts.each do |ac| %>
  <hr>
  <p>

    <h4 class="left"><%= ac.owner %></h4>
    <h4 class="subheader right"><%= ac.balance.to_s %></h4>

    <%= simple_form_for(:debit, url: debit_account_path(ac)) do |f| %>
      <%= f.input(:value, label: false, placeholder: "Valor", input_html: {type: "number"}) %>

      <%= f.submit class:"button tiny alert", value: 'DEBITAR' %>
      <a href="#" class="button tiny disabled success">CREDITAR</a>
      <a href="#" class="button tiny disabled">TRANSFERIR</a>
    <% end %>
  </p>
<% end %>
